/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* Colors */
:root {
  --mainColor: #25ABC6;
  --hoverColor: #00d3ff;
  --color-secondary: #37373f;
}

@font-face {
  font-family: "Cairo";
  src: url(../Font/Cairo.ttf);
}

body {
  font-family: "Cairo", "Open Sans", sans-serif;
  color: #444444;
  direction: rtl;
}

a {
  text-decoration: none;
  color: var(--mainColor);
}

a:hover {
  color: var(--hoverColor);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cairo", "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--mainColor);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--hoverColor);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* margin-right: 0 !important;
  margin-left: auto; */
}

#header .logo a {
  color: var(--mainColor);
}

#header .logo img {
  max-height: 70px;
}

.scrolled-offset {
  margin-top: 90px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 0;
  font-size: 16px;
  color: #222222;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-right: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--mainColor);
}

.navbar .getstarted i {
  font-size: 30px;
  margin-right: 0px;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  color: var(--mainColor);
  padding: 20px 10px;
  margin-right: 30px;
  border-radius: 4px;
  border: 2px solid var(--mainColor);
  transition: 0.3s;
  font-size: 14px;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: var(--mainColor);
  color: #fff;
  padding: 20px 10px;
}


@media (max-width: 991px) {

  .navbar .getstarted,
  .navbar .getstarted:focus {
    margin-right: 0;
    max-width: 50px;
  }
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  right: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--mainColor);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  right: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  right: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    right: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    right: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  left: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--mainColor);
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: var(--mainColor);
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-header {
  position: relative;
  padding-top: 12rem;
  padding-bottom: 6rem;
  background: url(../img/Green\ Edge/01.jpeg) center center no-repeat;
  background-size: cover;
}

.hero-header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .1);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.hero-header .container {
  position: relative;
  z-index: 1;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
  color: var(--bs-light);
}

.hero-header {
  width: 100%;
  height: 70vh;
  background-color: rgba(9, 9, 9, 0.8);
  overflow: hidden;
  position: relative;
}

.hero-header h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}

.hero-header p {
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

.hero-header .btn-get-started {
  font-family: "Cairo", "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  animation-delay: 0.8s;
  background: var(--mainColor);
}

.hero-header .btn-get-started:hover {
  background: var(--hoverColor);
}

@media (max-width: 992px) {
  .hero-header {
    height: 100vh;
  }

  .hero-header .carousel-container {
    top: 66px;
  }
}

@media (max-width: 768px) {
  .hero-header h2 {
    font-size: 28px;
  }
}

@media (max-height: 500px) {
  .hero-header {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 40px 0;
}

.section-bg {
  background-color: #f8fcf9;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2,
.section-title h4 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::before,
.section-title h4::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  right: calc(50% - 60px);
}

.section-title h2::after,
.section-title h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--mainColor);
  bottom: 0;
  right: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: #919191;
}


/*--------------------------------------------------------------
# Installation-Steps
--------------------------------------------------------------*/
.installation-steps .step {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
  padding: 30px 20px;
  background: #fff;
}

.installation-steps .step img {
  max-width: 85%;
  border-radius: 20px;
  margin: 0 0 30px 0;
}

.installation-steps .step h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.installation-steps .step p {
  font-size: 15px;
  margin: 0px;
  padding-top: 10px;
  /*   
  padding-top: 10px;
  font-size: 14px; */
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/

.about .row {
  overflow: hidden;
}

.about .content-item {
  padding: 20px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: -1px;
}

.about .content-item span {
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: var(--mainColor);
}

.about .content-item h4 {
  font-size: 26px;
  font-weight: 300;
  padding: 0;
  margin: 20px 0;
}

.about .content-item p {
  color: #797979;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .about .content-item {
    padding: 40px 20px;
  }
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery {
  overflow: hidden;
}

.gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--mainColor);
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--mainColor);
}

.gallery .swiper-slide-active {
  text-align: center;
}

@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 40px 0;
  }

  .gallery .swiper-slide-active {
    border: 6px solid var(--mainColor);
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.2);
  }
}

/*--------------------------------------------------------------
# Appreciation Study
--------------------------------------------------------------*/
.appreciation-study {
  background: var(--mainColor);
}

.appreciation-study h2,
.appreciation-study h4 {
  color: #fff;
}

.appreciation-study h4 {
  margin-top: 50px;
}

.inner-section-title{
  padding-bottom: 0px;
  text-align: center;
}

.appreciation-study h2::after,
.appreciation-study h4::after {
  background: #fff;
}

.appreciation-study .icon-box {
  border-radius: 10px;
  text-align: center;
  padding: 25px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 0px 90px 5px rgba(110, 123, 131, 0.1);
}

.appreciation-study .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.appreciation-study .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.appreciation-study .icon-box .icon svg {
  position: absolute;
  top: 0;
  right: 0;
}

.appreciation-study .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.appreciation-study .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.appreciation-study .icon-box h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.appreciation-study .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.appreciation-study .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.appreciation-study .iconbox-blue i {
  color: #47aeff;
}

.appreciation-study .iconbox-blue:hover .icon i {
  color: #fff;
}

.appreciation-study .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.appreciation-study .iconbox-orange i {
  color: #ffa76e;
}

.appreciation-study .iconbox-orange:hover .icon i {
  color: #fff;
}

.appreciation-study .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.appreciation-study .iconbox-pink i {
  color: #e80368;
}

.appreciation-study .iconbox-pink:hover .icon i {
  color: #fff;
}

.appreciation-study .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.appreciation-study .iconbox-yellow i {
  color: #ffbb2c;
}

.appreciation-study .iconbox-yellow:hover .icon i {
  color: #fff;
}

.appreciation-study .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.appreciation-study .iconbox-red i {
  color: #ff5828;
}

.appreciation-study .iconbox-red:hover .icon i {
  color: #fff;
}

.appreciation-study .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.appreciation-study .iconbox-teal i {
  color: #11dbcf;
}

.appreciation-study .iconbox-teal:hover .icon i {
  color: #fff;
}

.appreciation-study .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}


#tbl {
  margin-top: 25px;
  border-collapse: collapse;
  width: 100%;
}

#tbl td,
#tbl th {
  border: 1px solid #ddd;
  padding: 5px 5px;
}

#tbl tr {
  background-color: #fff;
}

#tbl tr:hover {
  background-color: var(--hoverColor);
  color: #fff;
}

#tbl th {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 20px;
  padding: 10px 0px;
  text-align: center;
  background-color: #fff;
  color: black;
}

/*--------------------------------------------------------------
# Physical And Chemical Properties Section
--------------------------------------------------------------*/
.physical-and-chemical-properties {

  background-color: #f9f9f9;
}

.physical-and-chemical-properties .why-box {
  padding: 30px;
  background: var(--color-primary);
  color: #fff;
}

.physical-and-chemical-properties .why-box h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.physical-and-chemical-properties .why-box p {
  margin-bottom: 30px;
}

.physical-and-chemical-properties .why-box .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.physical-and-chemical-properties .why-box .more-btn i {
  font-size: 14px;
}

.physical-and-chemical-properties .why-box .more-btn:hover {
  color: var(--color-primary);
  background: #fff;
}

.physical-and-chemical-properties .icon-box {
  text-align: center;
  background: #fff;
  padding: 40px 30px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(55, 55, 63, 0.1);
  transition: 0.3s;
}

.physical-and-chemical-properties .icon-box i {
  color: #fff;
  margin-bottom: 30px;
  font-size: 32px;
  margin-bottom: 30px;
  /* background: rgba(206, 18, 18, 0.1); */
  background: var(--hoverColor);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.physical-and-chemical-properties .icon-box h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px 0;
  font-family: var(--font-secondary);
}

.physical-and-chemical-properties .icon-box p {
  font-size: 15px;
  color: #6c757d;
}

@media (min-width: 1200px) {
  .physical-and-chemical-properties .icon-box:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 992px) {
  .physical-and-chemical-properties .art-tip {
    margin-bottom: 25px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background: var(--mainColor);
}

.contact h2,
.contact p {
  color: #fff;
}

.contact h2::after {
  background: #fff;
}

.contact .info {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  /* border-top: 3px solid var(--mainColor);
  border-bottom: 3px solid var(--mainColor); */
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.contact .info i {
  font-size: 20px;
  color: var(--mainColor);
  float: right;
  width: 44px;
  height: 44px;
  background: #eaf6ed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 60px 0 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222222;
}

.contact .info p {
  padding: 0 60px 10px 0;
  margin-bottom: 20px;
  font-size: 14px;
  color: #444444;
}

.contact .info .social-links {
  padding-right: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-left: 10px;
}

.contact .info .social-links a:hover {
  background: var(--mainColor);
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--mainColor);
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  /* border-top: 3px solid var(--mainColor);
  border-bottom: 3px solid var(--mainColor); */
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: right;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--mainColor);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: var(--mainColor);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: var(--hoverColor);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #090909;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Cairo", "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 20px 0;
}

#footer .social-links {
  margin: 0 0 20px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--mainColor);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-left: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: var(--hoverColor);
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}